footer {
    background-color: #f5f5f5;
    color: #000000;
    padding: 50px;
    display: flex;
    justify-content: space-around;
  }

  .footer-section {
    max-width: 300px;
  }

  ul {
    list-style-type: none; 
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: #000000;
    text-decoration: none;
  }

  h3 {
    margin-bottom: 20px; /* Add space between title and list items */
    font-weight: bold;   /* Make the h3 elements bold */

  }