
<footer>
    <div class="footer-section">
      <h3>About Us</h3>
      <ul>
        <li><a href="#">About QuizIt</a></li>
        <li><a href="#">How It Works</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Advertise with Us</a></li>
        <li><a href="#">Get The App</a></li>
      </ul>
    </div>
    <div class="footer-section">
        <h3>For Students</h3>
        <ul>
          <li><a href="#">Flashcards</a></li>
          <li><a href="#">Learn</a></li>
          <li><a href="#">Solution</a></li>
          <li><a href="#">Q-Chat</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>For Teachers</h3>
        <ul>
          <li><a href="#">Live </a></li>
          <li><a href="#">Checkpoint</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Be the Change</a></li>
        </ul>
      </div>

    <div class="footer-section">
      <h3>Resources</h3>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Honor Code</a></li>
        <li><a href="#">Community guidelines</a></li>
        <li><a href="#">Privacy </a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Ad and Cookie Policy</a></li>
        <li><a href="#">QuizIt for Schools</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Language</h3>
      <ul>
        <li><a href="#" target="_blank">English (USA) </a></li>
      </ul>
    </div>
  </footer>