<div *ngIf="!onlyOneComponent()">
    <app-navbar ></app-navbar>
    <router-outlet *ngIf="!shouldDisplay()"></router-outlet>
    <body *ngIf="shouldDisplay()" class="flex min-h-screen gap-6 mr-2 pb-3 px-7">
            <div class="w-full mt-16 px-7 relative overflow-x-auto p-5 bg-[#f6f7fb] rounded-xl">
                <router-outlet></router-outlet>
            </div>
    </body>
</div>

<!-- to display a pages without components -->
<div *ngIf="onlyOneComponent()">
    <router-outlet></router-outlet>
</div>
