
<body class="flex-1">
    <!-- section of features -->
    <section class="*:cursor-pointer ">
        <h1 class="font-medium text-xl">How do you wanna study today?</h1>
        <div class="p-2 my-4 grid grid-cols-3 gap-6">
            <div class="group" routerLink="/Search">
                <div class="rounded-xl group-hover:bg-perano-200">
                    <img class="rounded-xl rounded-b-none group-hover:opacity-65 h-44 w-full" src="assets/images/image_firstpart.png" alt="">
                    <div class="p-6 rounded-xl rounded-t-none bg-perano-100 group-hover:bg-perano-200">
                        <h3 class="font-medium text-lg">Discover New Horizons</h3>
                        <p class="text-sm">Delve into a world of flashcards covering any subject you desire.</p>
                    </div>
                </div>
            </div>
        
            <div class="group" routerLink="/All-quizzes">
                <div class="rounded-xl group-hover:bg-mustard-200">
                    <img class="rounded-xl rounded-b-none group-hover:opacity-65 h-44 w-full object-cover" src="assets/images/image_secondpart.png" alt="">
                    <div class="p-6 rounded-xl rounded-t-none bg-mustard-100 group-hover:bg-mustard-200">
                        <h3 class="font-medium text-lg">Master English with Confidence</h3>
                        <p class="text-sm"> Interactive lessons to boost your vocabulary, grammar, and fluency.</p>
                    </div>
                </div>
            </div>
        
            <div class="group"  routerLink="/Create-quiz">
                <div class="rounded-xl group-hover:bg-mauve-200">
                    <img class="rounded-xl rounded-b-none group-hover:opacity-65 h-44 w-full object-cover" src="assets/images/image_thirdpart.png" alt="">
                    <div class="p-6 rounded-xl rounded-t-none bg-mauve-100 group-hover:bg-mauve-200">
                        <h3 class="font-medium text-lg">Craft Engaging Quizzes</h3>
                        <p class="text-sm">Empower your learning journey by creating personalized quizzes.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- section of features -->
     
    <!-- recent activities -->
    <section class="*:cursor-pointer ">
        <h1 class="font-medium text-xl">Recent</h1>
        <div class="p-2 my-4 grid grid-cols-2 gap-6">
            
            <div class="recent flex justify-between p-6 rounded-xl bg-white border-gray-300 border " *ngFor="let recentActivity of recentActivities">
                <h3 class="font-medium text-lg">{{recentActivity.title}}</h3>
                <h1 class="py-1 px-2 text-xs rounded-full cursor-pointer bg-[#f3f3f3] ">{{recentActivity.type}}</h1>
            </div>
         
        </div>
        
    </section>
    <!-- recent activities -->



</body>
