
<body class="flex-1">
    <!-- section of features -->
    <section class="*:cursor-pointer ">
        <h1 class="font-medium text-xl">How do you wanna study today?</h1>
        <div class="p-2 my-4 grid grid-cols-3 gap-6">
            <div class="group" routerLink="/Search">
                <div class="rounded-xl group-hover:bg-perano-200">
                    <img class="rounded-xl rounded-b-none group-hover:opacity-65 h-44 w-full" src="assets/images/search.png" alt="">
                    <div class="p-6 rounded-xl rounded-t-none bg-perano-100 group-hover:bg-perano-200">
                        <h3 class="font-medium text-lg">Discover New Horizons</h3>
                        <p class="text-sm">Delve into a world of flashcards covering any subject you desire.</p>
                    </div>
                </div>
            </div>
        
            <div class="group" routerLink="/All-quizzes">
                <div class="rounded-xl group-hover:bg-mustard-200">
                    <img class="rounded-xl rounded-b-none group-hover:opacity-65 h-44 w-full" src="assets/images/quiz.png" alt="">
                    <div class="p-6 rounded-xl rounded-t-none bg-mustard-100 group-hover:bg-mustard-200">
                        <h3 class="font-medium text-lg">Boost Your Academic Game</h3>
                        <p class="text-sm">Enhance learning with challenging questions and helpful hints.</p>
                    </div>
                </div>
            </div>
        
            <div class="group">
                <div class="rounded-xl group-hover:bg-mauve-200">
                    <img class="rounded-xl rounded-b-none group-hover:opacity-65 h-44 w-full" src="assets/images/exam.png" alt="">
                    <div class="p-6 rounded-xl rounded-t-none bg-mauve-100 group-hover:bg-mauve-200">
                        <h3 class="font-medium text-lg">Craft Engaging Quizzes</h3>
                        <p class="text-sm">Empower your learning journey by creating personalized quizzes.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- section of features -->
     
    <!-- recent activities -->
    <section class="*:cursor-pointer ">
        <h1 class="font-medium text-xl">Recent</h1>
        <div class="p-2 my-4 grid grid-cols-2 gap-6">
            
            <div class="recent p-6 rounded-xl bg-white border-gray-300 border ">
                <h3 class="font-medium text-lg">Discover New Horizons</h3>
                <p class="text-sm">Delve into a world of flashcards covering any subject you desire.</p>
            </div>
         
            <div class="recent p-6 rounded-xl bg-white border-gray-300 border">
                <h3 class="font-medium text-lg">Discover New Horizons</h3>
                <p class="text-sm">Delve into a world of flashcards covering any subject you desire.</p>
            </div>
    
           
        </div>
        
    </section>
    <!-- recent activities -->



</body>
