<div class="flex p-4 bg-[#f6f7fb] rounded-t-xl h-screen w-48 justify-center fixed z-10 top-0 left-0 overflow-hidden mt-16">
	<div class="max-w-full">
		<div class="flex border rounded-full w-fit" >
			<img class="size-24 rounded-full object-cover" src="/assets/images/Profile.jpg" alt="user photo">
		</div>
		<span class="text-sm font-medium textc dark:text-white">@username</span>
		<div class="w-full bg-gray-200 rounded-full h-2 dark:bg-gray-700">
			<div class="bg-blue-600 h-2 rounded-full" style="width: 45%"></div>
		</div>
	</div>
</div>